body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    max-width: 840px;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

h2 {
    border-bottom: 1px solid #000;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #ddd;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

footer {
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 5px;
}